## variable define

In [1]:
a=5
print(a)

5

In [2]:
a=0.5
print(a)

0.5

In [3]:
b="abc@123"
print(b)

abc@123

## Identify class

In [1]:
a="Solapur"
print(type(a))
b=95
print(type(b))
c=0.5
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

## Python Output Using print() function

In [1]:
a=5
print("The value of a:",a)

The value of a: 5

## Python Program to Print Hello world!

In [2]:
print("Hello ,world!")

Hello ,world!

## Addition of two numbers

## Addition of two integer numbers

In [3]:
n1=5                             
n2=6
print("The value of n1:",n1 ,"The value of n2:",n2 ,"The sum is:",n1+n2)

The value of n1: 5 The value of n2: 6 The sum is: 11

## Addition of two integer numbers with user input

In [4]:
a=int(input("The value of a:"))
b=int(input("The value of b:"))
print("Addition is:",a+b)

The value of a:58
The value of b:52
Addition is: 110

## Addition of  two float numbers

In [5]:
a=2.5
b=7.5
print("Addition is:",a+b)

Addition is: 10.0

## Addition of two float numbers with user input

In [1]:
a=float(input("Enter first number:"))
b=float(input("Enter second number:"))
print("Addition is:",a+b)

Enter first number:58.9
Enter second number:54.5
Addition is: 113.4

## Driver code

In [2]:
if __name__=="__main__":
    n1=15
    n2=15

In [3]:
## Adding two numbers
sum=lambda n1,n2:n1+n2

In [4]:
# printing values
print("sum of {0} and{1} is {2};"  .format(n1,n2, sum(n1,n2)))

sum of 15 and15 is 30;

## Addition of two complex number

In [7]:
# User Defined Complex class
class Complex:
    # constructor to accept
    # real and imaginary part
    def __init__(self,tempReal,tempImaginary):
        self.real=tempReal;
        self.imaginary=tempImaginary;
        
    # Defining addComp() method
    # for adding two complex number
    def addComp(self,C1,C2):
        
        # creating temporary variable
        temp=Complex(0,0)
        
        
        # adding real part of complex numbers
        temp.real=C1.real+C2.real;
        
        # adding Imaginary part of complex numbers
        temp.imaginary=C1.imaginary+C2.imaginary;
        
        # returning the sum
        return temp;
# Driver code
if __name__=='__main__':
    
    # First Complex number
    C1=Complex(3,2);
    
    # printing first complex number
    print("Complex number 1:",C1.real,"+i"+str(C1.imaginary))
    
    # Second Complex number
    C2=Complex(9,5);
    
    # printing second complex number
    print("Complex number 2:",C2.real,"+i"+str(C2.imaginary))
    
    # for storing the sum
    C3=Complex(0,0)
    
    # Calling addComp()method
    C3=C3.addComp(C1,C2);
    
    # printing the sum
    print("Sum of complex number:",C3.real,"+i"+str(C3.imaginary))

Complex number 1: 3 +i2
Complex number 2: 9 +i5
Sum of complex number: 12 +i7

## Python Program for factorial of a number

In [8]:
# factorial of given number
def factorial(n):
    
    #single line to find factorial
    return 1 if (n==1 or n==0) else n*factorial(n-1);

# Driver Code
n=5;
print("Factorial of",n,"is",factorial(n))

Factorial of 5 is 120

## Basic slicing program

In [6]:
a="Abhay sir is good teacher."
print(a[0:10])
# prints the value of 0th indices to 9th indice
print(a[:-1])

Abhay sir
Abhay sir is good teacher

## Basic for loop

In [7]:
for a in range(3):
    print("Data Science")

Data Science
Data Science
Data Science

In [4]:
for x in "Clever":
    print("My name is Sushil",x)

My name is Sushil C
My name is Sushil l
My name is Sushil e
My name is Sushil v
My name is Sushil e
My name is Sushil r

## Program for check the number is even or odd

In [5]:
for c in range (3):
    a=int(input("Enter value:"))
    if a % 2==0:
        print(a,"Is even")
    else:
        print(a,"Is odd")

Enter value:22
22 Is even
Enter value:28
28 Is even
Enter value:35
35 Is odd

## Program for check the number is prime or not

In [7]:
a=int(input("Enter number:"))
for k in range(2,a):
    
    if a>1:
        if (a % k)==0:
            print(a,"is not a prime number")
    else:
        print("is a prime number")
    break

Enter number:98
98 is not a prime number

In [7]:
for a in range (5):
    print(a,":-Abhay sir is good teacher")

0 :-Abhay sir is good teacher
1 :-Abhay sir is good teacher
2 :-Abhay sir is good teacher
3 :-Abhay sir is good teacher
4 :-Abhay sir is good teacher

## For loop with input method

In [1]:
for a in range(2):
    b=int(input("Enter number:"))
    c=int(input("Enter number:"))
    d=b+c
    print(d)

Enter number:2
Enter number:4
6
Enter number:5
Enter number:3
8

## Double for loop

In [6]:
b="cat"
for a in b:
    for b in "dog":
        print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Maximum of two numbers in Python

In [8]:
a=[1,2,3,4,5,6,7]
print(max(a))

7

## Accesssing the data in set.

In [9]:
a=["cat","dog","bat","owl"]
c=a[0][0]
print(c)
print(a[0][2])

c
t

## Working with if else statement

In [8]:
m=int(input("Enter the marks:"))

if m>0 and m<35:
    print("You are failed ....")
else:
    print("You are passed....")

Enter the marks:63
You are passed....

## Working with list

In [11]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
print(name)
print(type(name))
print(len(name))
print(name[0])

['Sager', 'Mahi', 'Rohit', 'Virat', 'Pritam']
<class 'list'>
5
Sager

In [12]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
ab=name[:3]
print(ab)

['Sager', 'Mahi', 'Rohit']

###  Insert in list

In [13]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.append("Hardik")
print(name)

['Sager', 'Mahi', 'Rohit', 'Virat', 'Pritam', 'Hardik']

In [14]:
ab=input("Enter the value...")             # User input
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.append(ab)
print(name)

Enter the value...Pooja
['Sager', 'Mahi', 'Rohit', 'Virat', 'Pritam', 'Pooja']

In [15]:
ab=input("Enter the value...")             # User input
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.insert(1,ab)
print(name)

Enter the value...Revati
['Sager', 'Revati', 'Mahi', 'Rohit', 'Virat', 'Pritam']

In [16]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.pop()
print(name)

['Sager', 'Mahi', 'Rohit', 'Virat']

In [17]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.remove("Rohit")
print(name)

['Sager', 'Mahi', 'Virat', 'Pritam']

In [18]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
name.clear()
name

[]

In [19]:
name=["Sager","Mahi","Rohit","Virat","Pritam"]
del name
print()

## Working with Tuple

In [23]:
ab=tuple()
ab=("Sager","Rahul","Sahil")
print(ab)
print(ab[0])
print(type(ab))

('Sager', 'Rahul', 'Sahil')
Sager
<class 'tuple'>

## Sets

In [24]:
ab=set()
ab={"Rahul","Sager","Sahil"}
print(ab)
print(type(ab))

{'Sahil', 'Sager', 'Rahul'}
<class 'set'>

In [26]:
ab.add("Mobile")
print(ab)

{'Sahil', 'Mobile', 'Sager', 'Rahul'}

In [27]:
ab={"Rahul","Sager","Sahil"}
for x in ab:
    print(x)

Sahil
Sager
Rahul

## Working with Dictionares

In [28]:
tab={
    "name":"Sumit",
    "Phone":9852649785,
    "City":"Pune"
    
}
print(tab)

{'name': 'Sumit', 'Phone': 9852649785, 'City': 'Pune'}

In [29]:
tab["Class"]="10th"

In [30]:
tab

{'name': 'Sumit', 'Phone': 9852649785, 'City': 'Pune', 'Class': '10th'}